@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Roboto&family=VT323&display=swap');

/* Reset style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin Sketch', cursive;
    position: relative;
    min-height: 100vh;
}

.header {
    font-size: 80px;
}

.style-container {
    font-size: 30px;
}

.footer {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    max-width: 640px;
    max-height: 640px;
    border: 10px solid red;
    display: grid;
    grid-template-columns: repeat(auto-fill, 64px);
    grid-template-rows: repeat(auto-fill, 64px);
}

.square {
    border: 2px solid green;
}